<hr/>

<h2>{{http.comment}}</h2>

<h3>Request</h3>
<em>{{http.requestMethod}} {{http.requestUri}}</em>
{{#each http.requestHeaderList}}
{{this}}<br/>
{{/each}}
<br/>
{{http.requestEntity}}

<h3>Response</h3>
{{http.responseLine}}
{{#each http.responseHeaderList}}
{{this}}<br/>
{{/each}}
<br/>
{{http.responseEntity}}

